
    <%- include('partials/header.ejs') %>


    <%- include('partials/navbar.ejs') %>
    <script>
        document.getElementById("profileNav").className += " active";
    </script>

    <div class="row">
        <div class="col-md-4">
                
            <h1>PROFILE</h1>
            <br>
            <h1><%= user.name %></h1> 
            <h2><%= user.username %></h2> 
            <h2><%= user.email %></h2><br>
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#followersModal">
                Followers
                <span class="badge badge-primary badge-pill"><%= followers.length %></span>
            </button>
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#followingModal">
                Following
                <span class="badge badge-primary badge-pill"><%= following.length %></span>
            </button>  
            <div class="thumbnail">
                <img src="<%= user.picture %>" width="300" height="300">     
            </div>
            <br><h3><%= user.bio %></h3>
        </div>
    </div>

    <!-- Followers -->
    <div class="modal fade" id="followersModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Followers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <% for(var i = 0; i < followers.length; i++) {  %>
                            <% if(followers[i].isUser == true) { %>
                                <a href="/<%= followers[i].followerName %>" class="list-group-item list-group-item-action"><%= followers[i].followerName %></a>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Following -->
    <div class="modal fade" id="followingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Following</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <% for(var i = 0; i < following.length; i++) {  %>
                            <a href="/<%= following[i].followeeName %>" class="list-group-item list-group-item-action"><%= following[i].followeeName %></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('partials/footer.ejs') %>
