
    <%- include('partials/header.ejs') %>


    <%- include('partials/navbar.ejs') %>
    <script>
        document.getElementById("topicsNav").className += " active";
    </script>

    <!-- Code specific to topics page -->
    <!-- List group of buttons to navigate to subtopics   -->
    <div class="list-group list-group-horizontal" style="margin-top: 10px; margin-left: 10px;">
        <% for(var i=0; i < topics.length; i++) { %>
            <a href="/topics/<%= topics[i].title %>/" class="btn btn-light list-group-item">t/<%= topics[i].title %> <span class="badge badge-primary badge-pill"><%= topics[i].numPosts %></span></a>
         <% } %>
    </div>

    <%- include('partials/footer.ejs') %>