    <%- include('partials/header.ejs') %>


    <%- include('partials/navbar.ejs') %>
    <script>
        document.getElementById("topicsNav").className += " active";
    </script>

    <!-- Code specific to topics page -->
    <!-- List group of buttons to navigate to subtopics   -->
    <div class="list-group list-group-horizontal" style="margin-top: 10px; margin-left: 10px;">
        <% for(var i=0; i < topics.length; i++) { %>
            <a href="/topics/<%= topics[i].title %>/" class="btn btn-light list-group-item">t/<%= topics[i].title %> <span class="badge badge-primary badge-pill"><%= topics[i].numPosts %></span></a>
        <% } %>
    </div>

    <!-- List follow/unfollow button  -->    
    <div  style="width: 50%; margin: auto; margin-top: 30px; text-align: center;">
        <% if(!isFollowing){ %>
            <form>
            <button type="submit" formmethod="POST" formaction="follow" class="btn btn-primary">Follow</button>
            </form>
        <% } else{ %>  
            <form>
                <button type="submit" formmethod="POST" formaction="unfollow" class="btn btn-primary">Unfollow</button>
            </form>
        <% } %>
    </div>
    
    <!-- Display posts associated with a topics when that topic is currently selected -->
    <% for(var i=0; i < posts.length; i++) { %>
        <div class="card border-dark" style="width: 50%; margin: auto; margin-top: 30px; text-align: center;">
            <div class="card-body text-dark">
                <h5 class="card-title"><%= posts[i].title %></h5>
                <p class="card-text"><%= posts[i].description %></p>
                <div class="row">
                    <div class="col"> <!-- Modify formaction -->
                        <form><button type="submit" formmethod="POST" formaction="<%= posts[i]._id %>/upvote">
                            <img src="/like.png" width="30px" height="30px">
                        </button></form>
                    </div>
                    <div class="col">
                        <p class="card-text">Score: <%= posts[i].score %></p>
                    </div>
                    <div class="col"> <!-- Modify formaction -->
                        <form><button type="submit" formmethod="POST" formaction="<%= posts[i]._id %>/downvote">
                            <img src="/dislike.png" width="30px" height="30px">
                        </button></form>
                    </div>
                </div>
                <form>
                    <button type="submit" formmethod="POST" formaction="<%= posts[i]._id %>/save" class="btn btn-outline-dark my-2 my-sm-0">Save</button>
                </form>
            </div>
            <div class="card-footer border-dark">
                <!-- Like and dislike buttons -->
                <% if (posts[i].anonymous == true) { %>
                <small class="text-muted">Posted by Anonymous</small>
                <% } else { %>
                    <small class="text-muted">Posted by</small>
                    <a href="/<%= posts[i].author %>">
                        <%= posts[i].author %>
                    </a> <% } %>
                <small class="text-muted">on <%= posts[i].created %></small>
            </div>
        </div>
    <% } %>

    <%- include('partials/footer.ejs') %>
